<div class="example-container mat-elevation-z8">
    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" opened class="left-drawer">
            <div class="users-pane">
                <mat-card class="users-card" (click)="goToHome()">
                    <button type="button" mat-button matSuffix mat-icon-button aria-label="Home">
                        <mat-icon>home</mat-icon>
                        <span> Back to home</span>
                    </button>
                </mat-card>
                <mat-card class="users-card">
                    <img style="width: 20px; height: 20px" src="{{selectedFriend.photoURL}}">
                    <span class="username">{{selectedFriend.displayName}}</span>
                </mat-card>
            </div>
        </mat-drawer>
        <mat-drawer-content class="chat-pane">
            <div #chatcontent [scrollTop]="true" class="chat-content">
                <div class="message-box" *ngFor="let chat of chatMessages">
                    <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
                        <span class="chat-date">{{chat.date}</span>
                        <span class="chat-content-center">{{chat.message}}</span>
                    </div>
                    <ng-template #message>
                        <div class="chat-message">
                            <div class="right-bubble" [ngClass]="{'right-bubble': chat.sender.displayName === currentUser.displayName, 'left-bubble': chat.sender.displayName !== currentUser.displayName}">
                                <span class="msg-name" *ngIf="chat.sender.displayName === currentUser.displayName">Me</span>
                                <span class="msg-name" *ngIf="chat.sender.displayName !== currentUser.displayName">{{chat.sender.displayName}}</span>
                                <span class="msg-date"> at {{moment(chat.createdAt).fromNow()}}</span>
                                <p text-wrap>{{chat.message}}</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div>
            </div>
            <footer class="sticky-footer">
                <mat-card class="message-form">
                    <mat-form-field class="message-form-field">
                        <label>
                            <input matInput placeholder="Enter message here" [(ngModel)]="message" (keyup.enter)="sendMessage()">
                        </label>
                        <mat-error>
                            <span>Enter your message</span>
                        </mat-error>
                        <button type="submit" mat-button matSuffix mat-icon-button aria-label="Send" (click)="sendMessage()">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-card>
            </footer>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
