
<div class="content" fxLayout="row">

    <div fxFlex="25" fxLayoutAlign="center">
        <mat-card-title style="margin-top: 10%" [translate]="'setting.account_settings' | translate"> </mat-card-title>
    </div>

    <div fxFlex="50">
        <div style="margin-top: 20%">

        </div>
        <mat-card-title class="title" [translate]="'setting.account_settings' | translate"></mat-card-title>
        <br>
        <br>
        <mat-card-subtitle class="title" [translate]="'setting.account_preference' | translate"></mat-card-subtitle>
        <div class="underline"></div>
        <div>
            <div fxFlex="70">
                <mat-card-content [translate]="'setting.email' | translate">Email</mat-card-content>
                <br>
                <mat-card-subtitle>amitbd1508@gmail.com</mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button disabled type="button" class="btn btn-outline-primary" style="height: 40px; padding-top: 10px" [translate]="'setting.cannot_change' | translate"></button>
            </div>
        </div>

        <div class="title">
            <div fxFlex="70">
                <mat-card-content [translate]="'setting.change_password' | translate"></mat-card-content>
                <br>
                <mat-card-subtitle [translate]="'setting.password_advice' | translate"></mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button type="button" class="btn btn-outline-primary" style="height: 40px" [translate]="'setting.change' | translate"></button>
            </div>
        </div>

        <div class="title">
            <div fxFlex="70">
                <mat-card-content [translate]="'setting.change_language' | translate"></mat-card-content>
                <br>
                <mat-card-subtitle [translate]="'setting.change_language_info' | translate"></mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button type="button" class="btn btn-outline-primary" (click)="onClickChangeLanguage()" style="height: 40px" [translate]="'setting.change' | translate"></button>
            </div>
        </div>

        <div class="title">
            <mat-card-content [translate]="'setting.deactivate_account' | translate"></mat-card-content>
            <div class="underline"></div>
            <br>
            <div>
                <div fxFlex="70">
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <button mat-button (click)="onClickDeleteAccount()">
                        <img style="max-width: 30px; margin-right: 10px" src="/assets/icons/DeactiveateAccount.svg">
                        <mat-card-subtitle class="text-danger" [translate]="'setting.deactivate_account' | translate"></mat-card-subtitle>
                    </button>
                </div>
            </div>
        </div>
        <div class="title">
            <mat-card-content [translate]="'setting.delete_account' | translate"></mat-card-content>
            <div class="underline"></div>
            <br>
            <div>
                <div fxFlex="70">
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <button mat-button (click)="onClickDeleteAccount()">
                        <img style="max-width: 30px; margin-right: 10px" src="/assets/icons/DeleteAccount.svg">
                        <mat-card-subtitle class="text-danger" [translate]="'setting.delete_account' | translate"></mat-card-subtitle>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <div fxFlex="25" fxFlex.xs="25">

    </div>

</div>
<div fxLayout="row">

</div>
