
<div class="content" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">

    <div fxFlex="25" fxFlex.xs="25" fxLayoutAlign="center">
        <mat-card-title style="margin-top: 10%"> User Settings</mat-card-title>
    </div>

    <div fxFlex="50">
        <div style="margin-top: 20%">

        </div>
        <mat-card-title class="title">Account Settings</mat-card-title>
        <br>
        <br>
        <mat-card-subtitle class="title">Account Preference</mat-card-subtitle>
        <div class="underline"></div>
        <div class="title">
            <div fxFlex="70">
                <mat-card-header>Email</mat-card-header>
                <br>
                <mat-card-subtitle>amitbd1508@gmail.com</mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button type="button" class="btn btn-outline-primary">Changes</button>
            </div>
        </div>

        <div class="title">
            <div fxFlex="70">
                <mat-card-header>Change Password</mat-card-header>
                <br>
                <mat-card-subtitle>It's good idea use a strong password that you're not using elsewhere</mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button type="button" class="btn btn-outline-primary">Changes</button>
            </div>
        </div>

        <div class="title">
            <div fxFlex="70">
                <mat-card-header>Change Language</mat-card-header>
                <br>
                <mat-card-subtitle>Change to your preferred language</mat-card-subtitle>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <button type="button" class="btn btn-outline-primary">Changes</button>
            </div>
        </div>

        <div class="title">
            <mat-card-header>Deactivate Account</mat-card-header>
            <div class="underline"></div>
            <br>
            <div>
                <div fxFlex="70">
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <button type="button" class="btn btn-outline-danger">Deactivate</button>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="25" fxFlex.xs="25">

    </div>

</div>
<div fxLayout="row">

</div>
