<mat-card>
    <mat-card-header>
        <mat-card-title>Change Language</mat-card-title>
        <mat-card-subtitle>Update Your Language</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-card-title>Select Language</mat-card-title>
        <button mat-button>
            <mat-card-header (click)="changeLanguage('en')">
                <p>
                    <span>English</span>
                    <mat-icon *ngIf="language == 'en'">check_circle</mat-icon>
                    <mat-icon *ngIf="language !== 'en'">check_circle_outline</mat-icon>
                </p>
            </mat-card-header>
        </button>
        <br>
        <button mat-button>
            <mat-card-header (click)="changeLanguage('fr')">
                <p>
                    <span>French</span>
                    <mat-icon *ngIf="language === 'fr'">check_circle</mat-icon>
                    <mat-icon *ngIf="language !== 'fr'">check_circle_outline</mat-icon>
                </p>
            </mat-card-header>
        </button>

    </mat-card-content>
</mat-card>
<mat-card-footer>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</mat-card-footer>
