<div>
    <div style="justify-content: center">
        <img src="/assets/icons/delete.svg" style="height: 100px">
    </div>

    <h1 mat-dialog-title [translate]="'dialog.confirm.title' | translate"></h1>
    <p [translate]="'dialog.confirm.body' | translate">
    </p>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()"  [translate]="'dialog.confirm.cancel' | translate">Cancel</button>
        <button mat-button (click)="onUpdateDrugClick()"  [translate]="'dialog.confirm.sure' | translate">Sure</button>
    </div>
</div>
