.example-spacer {
    flex: 1 1 auto;
}

.small-spacer {
    flex: 1 4 auto;
}

.toolbar {
    background: #303030;
    color: #F7FAFC;
}


.profile-image {
    background-size: cover;
    height: 80%;
    width: 80%;
    margin: 3%;
}
