<mat-toolbar class="toolbar">
  <span class="mt-4" (click)="authService.gotToHome()">
    <label>OP SCIENCES PVT</label>
  </span>
  <span class="example-spacer">
  </span>
  <app-search ></app-search>
  <button class="mr-4" *ngIf="!authService.isLoggedIn" (click)="authService.goToSignUp()">
    Register
  </button>
  <button class="mr-4" *ngIf="!authService.isLoggedIn" (click)="authService.goToSignIn()">
    Login
  </button>

  <button (click)="authService.goToSettingPage()" mat-icon-button style="margin-left: 5px; margin-right: 5px">
    <img src="/assets/icons/setting.svg">
  </button>

  <button mat-icon-button *ngIf="authService.isLoggedIn" (click)="authService.goToProfile()">
    <mat-icon>account_box</mat-icon>
  </button>
  <button mat-icon-button *ngIf="authService.isLoggedIn">
    <mat-icon (click)="authService.SignOut()">logout</mat-icon>
  </button>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>

