<mat-card *ngIf="friends && friends.length>0" style="background: #F7F8F8">
    <mat-card-title [translate]="'friend-list.my-subscriptions'" style="background: #F7F8F8"> MY SUBSCRIPTIONS </mat-card-title>
    <div class="inboxContainer">
        <mat-card *ngFor="let friend of friends" style="background: #F7F8F8" >
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="{{friend.photoURL}}" alt="Image">
                <mat-card-title>{{friend.displayName? friend.displayName : friend.uid}}</mat-card-title>
                <mat-card-subtitle>{{friend.email}}</mat-card-subtitle>
                <mat-card-header (click)="gotToMessage(friend)">
                    <button mat-button>
                        <mat-icon>message</mat-icon>
                    </button>
                </mat-card-header>
            </mat-card-header>
        </mat-card>
    </div>
</mat-card>
