<div fxLayout="column">
    <div fxFlex="40" style="background: #ECF7FB">
        <mat-card style="justify-content: left;background: #ECF7FB">
            <mat-card-header style="background: #ECF7FB">
                <div fxFlex="25">
                    <img mat-card-avatar class="example-header-image" src="{{showingUser.photoURL}}" alt="Image">
                </div>
                <div fxFlex="55" style="margin-left: 5%">
                    <mat-card-title>{{showingUser.displayName? showingUser.displayName : showingUser.uid}}</mat-card-title>
                    <mat-card-subtitle>{{showingUser.email}}</mat-card-subtitle>
                    <mat-card-content>{{showingUser.designation}}</mat-card-content>
                    <mat-card-title>{{showingUser.bio}}</mat-card-title>
                </div>
                <div fxFlex="30">
                    <fa-icon size="lg" style="margin-right: 5px;" [icon]="faFacebook"></fa-icon>
                    <fa-icon size="lg" style="margin-right: 5px;" [icon]="faInstagram"></fa-icon>
                    <fa-icon size="lg" style="margin-right: 5px;" [icon]="faLinkedin"></fa-icon>
                    <fa-icon size="lg" style="margin-right: 5px;" [icon]="faTwitter"></fa-icon>
                    <br>
                    <div>
                        <button type="button" class="btn btn-outline-secondary" (click)="onClickChat(showingUser)">
                            <mat-icon>message</mat-icon>
                            Send Message
                        </button>
                    </div>
                    <br>
                </div>

            </mat-card-header>
            <div>
                <div fxFlex="40">

                </div>
                <div fxFlex="60" fxLayoutAlign="end">
                    <button mat-button class="profile-button">
                        0
                        <p>Likes</p>
                    </button>
                    <button mat-button class="profile-button">
                        {{numberOfFriends}}
                        <p>Subscribers</p>
                    </button>
                    <button mat-button class="profile-button-subscribe" *ngIf="isOwnerProfile" (click)="navigation.goToEditProfile()">
                        <mat-card-content>Edit profile</mat-card-content>
                    </button>
                    <button mat-button class="profile-button-subscribe" *ngIf="!isOwnerProfile && !isFriend" (click)="onClickSubscribe()">
                        <mat-card-content >Subscribe</mat-card-content>
                    </button>
                    <button mat-button class="profile-button-subscribed" *ngIf="!isOwnerProfile && isFriend">
                        <mat-card-content >Subscribed</mat-card-content>
                    </button>
                </div>
            </div>
        </mat-card>

    </div>
    <div fxFlex="60" fxLayoutAlign="center" style="background: #ECF7FB; margin-top: 2px; margin-bottom: 2px">
        <mat-card style="background: #ECF7FB; width: 100%; justify-content: center">
            <mat-card-header style="background: #ECF7FB; width: 100%; justify-content: center">About Me</mat-card-header>
        </mat-card>
    </div>
</div>
<app-post [user]="showingUser"></app-post>
