<div class="content" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">

    <div fxFlex="10" fxFlex.xs="10">

    </div>

    <div fxFlex="80" fxLayoutAlign="center">
        <mat-card style="justify-content: center">
            <div>
                <img [src]="selectedFileUrl? selectedFileUrl : currentUser.photoURL" height="200">
            </div>
            <div>
                <input type="file"
                       id="file"
                       #userPhoto
                       accept="image/*"
                       (change)="onFileSelected($event)"
                       name="image"
                       autocomplete="off"/>
            </div>
            <br>
            <mat-card-content>
                <p>
                    <label>Name</label>
                    <input type="text" name="name" [(ngModel)]="currentUser.displayName" >
                </p>
                <p>
                    <label>Email: </label>
                    <label>{{currentUser.email}}</label>
                </p>
            </mat-card-content>
            <mat-card-header style="justify-content: center">
                <button mat-button (click)="updateProfile()">
                    <b>Update</b>
                </button>
            </mat-card-header>
        </mat-card>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

    </div>
    <div fxFlex="10" fxFlex.xs="10">
    </div>

</div>

