.example-header-image {
    background-size: cover;
    height: 90%;
    width: 90%;
    margin: 3%;
}

.profile-button {
    background: #F7FAFC;
    height: 70%;
    color: #303030;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 2px;
}

.profile-button-subscribe {
    background: #E42526;
    color: #F7FAFC;
    height: 70%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8px;
}

.profile-button-subscribed {
    background: #176ee4;
    color: #F7FAFC;
    height: 70%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8px;
}


