<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">

        <div class="border-bottom">
            <h3 class="h2" [translate]="'advertisement.advertisement'">Advertisement</h3>
        </div>
        <!-- Show user data when logged in -->
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <div class="media">
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{'/assets/ad.jpg'}}">

                    </div>
                    <mat-card-header>
                        <mat-card-title>
                            <strong>Ad Example</strong>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <strong>This is a ad example</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-header>
                        <button mat-button>
                            Go To the Ad
                        </button>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>

    </div>
</main>
