<div>
    <div class="example-form">
        <div class="example-full-width">
            <button  class="btn btn-dark" [translate]="'search.quick-search' | translate"
                   (click)="navigation.goToSearch()"></button>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of filteredStates | async" [value]="user.displayName">
                    <div (click)="goToUserProfile(user)">
                        <img class="example-option-img" aria-hidden="true" [src]="user.photoURL" height="25">
                        | <span>{{user.displayName}}</span>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
</div>
