<div>
    <div class="content" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">

        <div fxFlex="25" fxFlex.xs="25" fxLayoutAlign="center">
            <mat-card-title style="margin-top: 10%" [translate]="'edit-profile.user-profile-edit' | translate"> User Profile Edit</mat-card-title>
        </div>

        <div fxFlex="50">
            <div style="margin-top: 20%">
            </div>
            <mat-card-title class="title" [translate]="'edit-profile.edit-your-profile' | translate">Edit Your Profile</mat-card-title>
            <br>
            <br>

            <div class="title">
                <div fxFlex="70">
                    <mat-card-title [translate]="'edit-profile.name' | translate">Name</mat-card-title>
                    <br>
                    <br>
                    <textarea [(ngModel)]="currentUser.displayName" matInput placeholder="Ex. Jhon"></textarea>
                    <div class="underline"></div>
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <div style="margin-top: 30%">
                        <button type="button" class="btn btn-outline-primary"
                                (click)="updateName()" [translate]="'edit-profile.update' | translate">Update</button>
                    </div>
                </div>
            </div>

            <div class="title">
                <div fxFlex="70">
                    <mat-card-title [translate]="'edit-profile.send' | translate">Designation</mat-card-title>
                    <br>
                    <br>
                    <textarea matInput placeholder="Ex. Software Engineer" [(ngModel)]="currentUser.designation"></textarea>
                    <div class="underline"></div>
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <div style="margin-top: 30%">
                        <button type="button"
                                class="btn btn-outline-primary"
                                (click)="updateDesignation()"
                                [translate]="'edit-profile.update' | translate">Update
                        </button>
                    </div>
                </div>
            </div>

            <div class="title">
                <div fxFlex="70">
                    <mat-card-title [translate]="'edit-profile.send' | translate">Your Bio</mat-card-title>
                    <br>
                    <br>
                    <textarea matInput placeholder="Ex. I am a researcher" [(ngModel)]="currentUser.bio"></textarea>
                    <div class="underline"></div>
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <div style="margin-top: 30%">
                        <button type="button"
                                class="btn btn-outline-primary"
                                [translate]="'edit-profile.update' | translate"
                                (click)="updateBio()">Update</button>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <mat-card-title class="title" [translate]="'edit-profile.profile-photo' | translate">Profile Photo</mat-card-title>
            <div class="underline"></div>
            <div class="title">
                <div class="title">
                    <div fxFlex="70">
                        <div>
                            <img [src]="selectedFileUrlProfile? selectedFileUrlProfile : currentUser.photoURL" width="200px">
                        </div>
                    </div>
                    <div fxFlex="30" fxLayoutAlign="end">
                        <div>
                            <input #profileInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelectedProfile($event)" accept="image/*"/>
                            <button class="btn btn-outline-primary"
                                    [translate]="'edit-profile.upload-a-image' | translate"
                                    (click)="profileInput.click()">
                                Upload A Image
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <mat-card-title class="title" [translate]="'edit-profile.primary-photo' | translate">Primary Photo</mat-card-title>
            <div class="underline"></div>
            <div class="title">
                <div class="title">
                    <div fxFlex="70">
                        <div>
                            <img [src]="selectedFileUrlPrimary? selectedFileUrlPrimary : currentUser.primaryPhotoURL" width="200px">
                        </div>
                    </div>
                    <div fxFlex="30" fxLayoutAlign="end">
                        <div>
                            <input #primaryInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelectedPrimary($event)" accept="image/*"/>
                            <button
                                    class="btn btn-outline-primary"
                                    [translate]="'edit-profile.upload-a-image' | translate"
                                    (click)="primaryInput.click()">Upload A Image</button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <mat-card-title class="title" [translate]="'edit-profile.secondary-photo' | translate">Secondary Photo</mat-card-title>
            <div class="underline"></div>
            <div class="title">
                <div fxFlex="70">
                    <div>
                        <img [src]="selectedFileUrlSecondary? selectedFileUrlSecondary : currentUser.secondaryPhotoURL" width="200px">
                    </div>
                </div>
                <div fxFlex="30" fxLayoutAlign="end">
                    <div>
                        <input #secondaryInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelectedSecondary($event)" accept="image/*"/>
                        <button class="btn btn-outline-primary"
                                (click)="secondaryInput.click()"
                                [translate]="'edit-profile.upload-a-image' | translate">Upload A Image</button>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
        <div fxFlex="25" fxFlex.xs="25">

        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>


