<div class="content" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">

  <div fxFlex="25" fxFlex.xs="25">
      <app-friend-list></app-friend-list>
  </div>

  <div fxFlex="50">
      <div>
          <mat-card >
              <mat-card-header style="width: 100%">
                  <app-add-post style="width: 100%"></app-add-post>
              </mat-card-header>
          </mat-card>
      </div>
    <div *ngFor="let post of posts" >
        <mat-card>
            <mat-card-header style="justify-content: center;">
                <mat-card style="width: 100%">
                    <mat-card-header (click)="auth.goToUserProfile(post.postedBy)">
                        <img mat-card-avatar class="example-header-image" src="{{post.postedBy.photoURL}}" alt="Image">
                        <mat-card-title>{{post.postedBy.displayName? post.postedBy.displayName : post.postedBy.uid}}</mat-card-title>
                        <mat-card-subtitle>{{post.postedBy.email}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{post.imageUrl}}" alt="Photo">
                    <mat-card-content>
                        <p>
                            {{post.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions style="justify-content: left">
                        <button mat-icon-button>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </button>
                        <button mat-icon-button >
                            <fa-icon [icon]="faPaperPlane"></fa-icon>
                        </button>
                        <button mat-button>
                            <fa-icon [icon]="faComment"></fa-icon>
                        </button>
                    </mat-card-actions>
                    <mat-card-content *ngFor="let comment of post.comments">
                        <mat-card-subtitle>
                            {{comment.postedBy.displayName}}: {{comment.message}}
                        </mat-card-subtitle>
                    </mat-card-content>
                    <app-comment [postId]="post.id"></app-comment>
                </mat-card>
            </mat-card-header>

        </mat-card>
    </div>
  </div>
  <div fxFlex="25" fxFlex.xs="25">
    <mat-card>
      <mat-card-header>
          <app-profile-suggestions></app-profile-suggestions>
      </mat-card-header>
    </mat-card>
      <mat-card>
          <mat-card-header>
              <app-advertisement></app-advertisement>
          </mat-card-header>
      </mat-card>
  </div>

</div>
<div fxLayout="row">

</div>
