<div class="content" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px">

  <div fxFlex="25" fxFlex.xs="25">
      <app-profile-suggestions></app-profile-suggestions>
      <app-friend-list></app-friend-list>
  </div>

  <div fxFlex="50">
      <mat-card *ngIf="randomUser">
          <app-profile [currentUser]="randomUser" [isOwnerProfile]="false"></app-profile>
          <app-post [user]="randomUser"></app-post>
      </mat-card>
  </div>
  <div fxFlex="25" fxFlex.xs="25">
      <button mat-button>
          <mat-card (click)="nextUser()" style="background: #F7F8F8;">
              <mat-card-subtitle [translate]="'home.switch_to_another_profile_text'">
                  Switch to Another profile
              </mat-card-subtitle>
              <br>
              <div style="margin-left: 50px; height: 100px; width: 100px; background-image: url('/assets/icons/rocket.svg')">

              </div>
          </mat-card>
      </button>
      <br>
      <br>
      <br>
      <app-advertisement></app-advertisement>
  </div>

</div>
<div fxLayout="row">

</div>
